<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>

<body>

<section class ="w3-container w3-center">
	<h1>AQUA-CULTURE</h1>
</section>

<section class ="w3-sidebar w3-bar-block w3-green" style="width:20%">
	<ul>
	<li><a href="#Home" class="w3-bar-item w3-button">Home</a></li>
	<li><a href="#DataViz" class="w3-bar-item w3-button">Data Viz</a></li>
	<li><a href="#Weather" class="w3-bar-item w3-button">Weather</a></li>
	<button onclick="myFunction('Demo1')" class="w3-bar-item w3-button">Settings</button>
		<div id="Demo1" class="w3-hide">
  		<li><a href="#PumpSettings" class="w3-button w3-block w3-left-align">Pump Settings</a></li>
  		<li><a href="#FishFeederSettings" class="w3-button w3-block w3-left-align">Fish Feeder Settings</a></li>
		<li><a href="#PlantBuddy" class="w3-button w3-block w3-left-align">Plant Buddy Settings</a></li>
	</ul>
</section>

<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

<div style="margin-left:20%">

<section class ="w3-bar w3-teal">
	<div class="w3-bar-item w3-center"> Water pH levels: </div>
	<div class="w3-bar-item w3-center"> {{ph.water_pH}}</div>

	<div class="w3-bar-item w3-center"> TDS: </div>
	<div class="w3-bar-item w3-center"> {{ph.tds}}</div>

	<div class="w3-bar-item w3-center"> Water Temp: </div>
	<div class="w3-bar-item w3-center"> {{ph.water_temp}}</div>

	<div class="w3-bar-item w3-center"> Air Temp: </div>
	<div class="w3-bar-item w3-center"> {{ph.air_temp}}</div>

	<div class="w3-bar-item w3-center"> Humidity: </div>
	<div class="w3-bar-item w3-center"> {{ph.humidity}}</div>
</section>

<br>
<br>
<br>

<form class = "w3-container w3-center">
	<h2>Configure Fish Feeder System Settings</h2>
	<br>
	<br>
	<div class="row">
		<div><label for ="ffi">Current Fish Feeder Interval:
		</div>
		<br>
		<div>Fish feeder feeds fish every {{}} Hours
		</div>
	</div>
	<br>
	<br>				
	<div class="row">
		<div><label for="fname">Set Fish Feeder Interval to every </label>
		</div>
		<div><input type="number" id="ffi" number="FFI"> Hours
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="row">
		<div><label for ="ffi">Current Fish Feeder Amount:
		</div>
		<br>
		<div>Fish feeder feeds fish {{}} of food
		</div>
	</div>
	<br>
	<br>				
	<div class="row">
		<div><label for="fname">Set Fish Feeder Amount to </label>
		</div>
		<div><input type="number" id="ffa" number="FFA"> grams
		</div>
	</div>
</form>

</div>

</body>
</html>