<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
.material-icons {vertical-align:-14%}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.column {
  float: left;
  width: 33%;
  padding: 0 0px;
}


</style>

<header class ="w3-center">
	<div style="background-image: url('AC_background.jpg');">
	<h1><b>AQUA-CULTURE</b></h1>
	</div>
</header>

<body>

<section class ="w3-sidebar w3-bar-block w3-green" style="width:15%">
	<ul>
	<li><a href="/AC_webapp/" class="w3-bar-item w3-button">Home <i class="w3-margin-left material-icons w3-large">home</i></a></li>
	<li><a href="/AC_webapp/DataViz/" class="w3-bar-item w3-button">Data Viz <i class="w3-margin-left material-icons w3-large">analytics</i></a></li>
	<li><a href="/AC_webapp/Weather/" class="w3-bar-item w3-button">Weather <i class="w3-margin-left material-icons w3-large">cloud_queue</i></a></li>
	<li><a href="/AC_webapp/SettingsPage/" class="w3-bar-item w3-button">Settings <i class="w3-margin-left material-icons w3-large">miscellaneous_services</i></a></li>
	</ul>
</section>

<div style="margin-left:15%">

<section class ="w3-bar w3-teal">
	<div class="w3-bar-item w3-center"> Water pH levels: </div>
	<div class="w3-bar-item w3-center"> {{Homepage.water_pH}}</div>

	<div class="w3-bar-item w3-center"> TDS: </div>
	<div class="w3-bar-item w3-center"> {{Homepage.tds}}</div>

	<div class="w3-bar-item w3-center"> Water Temp: </div>
	<div class="w3-bar-item w3-center"> {{Homepage.water_temp}}</div>

	<div class="w3-bar-item w3-center"> Air Temp: </div>
	<div class="w3-bar-item w3-center"> {{Homepage.air_temp}}</div>

	<div class="w3-bar-item w3-center"> Humidity: </div>
	<div class="w3-bar-item w3-center"> {{Homepage.humidity}}</div>
</section>

<br>
<div style="margin-left:5%">
<h1> SYSTEM SETTINGS </h1>
</div>
<br>
<br>

<section class ="w3-container">
    	<form method="POST" value="{{PumpOnSettings.Value}}">
			{% csrf_token %}
			<b>Pump On-Time ({{PumpOnSettings.Value}} minutes):</b>
				{{OnForm.as_p}}
				<button class="button" type="submit" name="btnform1"> Update</button>
		</form>
		<br>
	    <br>
	   <form method="POST">
			{% csrf_token %}
			<b>Pump Off-Time ({{PumpOffSettings.Value}} minutes):</b>
				{{OffForm.as_p}}
				<button class="button" type="submit" name="btnform2"> Update</button>
		</form>
		<br>
	    <br>
	    <form method="POST">
			{% csrf_token %}
			<b>Fish Feeder Interval ({{FishFeederTime.Value}} hours):</b>
				{{TimeForm.as_p}}
				<button class="button" type="submit" name="btnform3"> Update</button>
		</form>
	    <br>
	    <br>
		<form method="POST">
			{% csrf_token %}
			<b>Fish Feeder Amount ({{FishFeederAmount.Value}} grams):</b>
				{{FoodForm.as_p}}
				<button class="button" type="submit" name="btnform4"> Update</button>
		</form>
		<div class="w3-bar">
			<a href="/AC_webapp/SettingsPage/" class="w3-bar-item w3-button">CANCEL </a>
		</div> 	
    </form>
</section>

</div>

</body>
</html>