<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
.material-icons {vertical-align:-14%}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.column {
  float: left;
  width: 33%;
  padding: 0 0px;
}


</style>

<header class ="w3-center">
	<div style="background-image: url('AC_background.jpg');">
	<h1><b>AQUA-CULTURE</b></h1>
	</div>
</header>

<body>

<section class ="w3-sidebar w3-bar-block w3-green" style="width:15%">
	<ul>
	<li><a href="/AC_webapp/" class="w3-bar-item w3-button">Home <i class="w3-margin-left material-icons w3-large">home</i></a></li>
	<li><a href="/AC_webapp/DataViz/" class="w3-bar-item w3-button">Data Viz <i class="w3-margin-left material-icons w3-large">analytics</i></a></li>
	<li><a href="/AC_webapp/Weather/" class="w3-bar-item w3-button">Weather <i class="w3-margin-left material-icons w3-large">cloud_queue</i></a></li>
	<li><a href="/AC_webapp/SettingsPage/" class="w3-bar-item w3-button">Settings <i class="w3-margin-left material-icons w3-large">miscellaneous_services</i></a></li>
	</ul>
</section>

<div style="margin-left:15%">

<section class ="w3-bar w3-teal">
	<div class="w3-bar-item w3-center"> Water pH levels: </div>
	<div class="w3-bar-item w3-center"> {{Homepage.water_pH}}</div>

	<div class="w3-bar-item w3-center"> TDS: </div>
	<div class="w3-bar-item w3-center"> {{Homepage.tds}}</div>

	<div class="w3-bar-item w3-center"> Water Temp: </div>
	<div class="w3-bar-item w3-center"> {{Homepage.water_temp}}</div>

	<div class="w3-bar-item w3-center"> Air Temp: </div>
	<div class="w3-bar-item w3-center"> {{Homepage.air_temp}}</div>

	<div class="w3-bar-item w3-center"> Humidity: </div>
	<div class="w3-bar-item w3-center"> {{Homepage.humidity}}</div>
</section>

<br>
<br>
<div style="margin-left:5%">
<h1> SYSTEM SETTINGS </h1>
</div>

<section class ="w3-container">
	<div class="w3-bar"><p>Pump ON-Time:   <b>{{PumpOnSettings.Value}}</b> minutes</p> </div>
	<br>
	<div class="w3-bar"><p>Pump OFF-Time:   <b>{{PumpOffSettings.Value}}</b> minutes</p> </div>
	<br>
	<div class="w3-bar"><p>Fish Feeder Inteval:   <b>{{FishFeederTime.Value}}</b> Hours</p> </div>
	<br>
	<div class="w3-bar"><p>Fish Feeder Amount:   <b>{{FishFeederAmount.Value}}</b> Grams of Food</p> </div>
	<br>
	<div class="w3-bar"><p>Phone #:   <b>401-989-3948</b> </p> </div>
	<br>
	<div class="w3-bar"><p>Zip-Code:   <b>02878</b> </p> </div>
	<br>
	<br>
	<br>
		<a href="/AC_webapp/SettingsEdit/" class="w3-bar-item w3-button">EDIT </a>
	</div>
</section>



</div>

</body>
</html>